<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="github" value="https://nuget.pkg.github.com/YkeSmit1/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="YkeSmit1"/>
      <add key="ClearTextPassword" value="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"/>
    </github>
  </packageSourceCredentials>
</configuration>